# ENSO Analysis

## Data Validation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [14]:
# Getting columns names
tao_col = open('../data/tao-all2.col', 'r')
col_names_tao = tao_col.readlines()
col_names_tao = [i.replace('\n', '') for i in col_names_tao]
col_names_tao

['obs',
 'year',
 'month',
 'day',
 'date',
 'latitude',
 'longitude',
 'zon.winds',
 'mer.winds',
 'humidity',
 'air temp.',
 's.s.temp.']

In [24]:
# Loading tao-all2.dat file
tao = pd.read_csv('../data/tao-all2.dat', sep = '\s+', names = col_names_tao, header = None)

In [25]:
tao.head()

,obs,year,month,day,date,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,1,80,3,7,800307,-0.02,-109.46,-6.8,0.7,.,26.14,26.24
1,2,80,3,8,800308,-0.02,-109.46,-4.9,1.1,.,25.66,25.97
2,3,80,3,9,800309,-0.02,-109.46,-4.5,2.2,.,25.69,25.28
3,4,80,3,10,800310,-0.02,-109.46,-3.8,1.9,.,25.57,24.31
4,5,80,3,11,800311,-0.02,-109.46,-4.2,1.5,.,25.3,23.19